body {
  font-family: 'Orbitron', sans-serif;
}

#gotGame {
    display: grid;
    grid-template-columns: 70% 30%;
}

#board {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 150px 150px 150px 150px 150px 150px;
    margin-bottom: 30px;
}

.boardRoute {
  background-color: black;
  color: yellow;
  top: 40px;
  bottom: 20px;
  border: 2px solid whitesmoke;
}

.boardRoute * {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}

#theDice {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
}

  #placeHolder {
    text-align: center;
  }

  button {
    display: inline-block;
    position: relative;
    background-color: rgb(214, 30, 30);
    border-radius: 6px;
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-transform: uppercase;
    width: 200px;
    cursor: pointer;
    text-align: center;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
  }

  button * {
  text-align: center;
}

  button:focus {
    outline: none;
  }

  #placeholder {
    height: 100px;
    width: 100px;
    padding: 50px;
    margin: 50px auto;
    border: 1px solid gray;
    border-radius: 10px;  
    font-size:80px;
  }